{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ page_title }} | {% trans 'Task Manager' %}{% endblock %}

{% block content %}
    <h1 class="my-4">{{ title }}</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>{% trans 'Username' %}</th>
                <th>{% trans 'Full name' %}</th>
                <th>{% trans 'Creation date' %}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                        <td>
                          <a href="{% url 'user_update' user.id %}">{% trans 'Update' %}</a>
                          <br>
                          <a href="{% url 'user_delete' user.id %}">{% trans 'Delete' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock content %}
