{% load i18n %}

<div class="container flex-column my-5 pt-4 border-top">
    <div class="row justify-content-sm-center">
        <div class="col-sm-auto">
            <a target="_blank" href="https://github.com/ivnvxd">ivnvxd</a>
        </div>
        <div class="col-sm-auto">
            <img class='ml-2' src="https://github.githubassets.com/favicons/favicon.svg" alt="GitHub" height="16px">
        </div>
        <div class="col-sm-auto">
            <a target="_blank" href="https://github.com/ivnvxd/python-project-52">source</a>
        </div>
    </div>
</div>
